<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:500,600|Roboto+Slab:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8cba328980.js" crossorigin="anonymous"></script>
    <title>Obama | Quotegen</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header-banner">
                <h1>
                    <i class="fas fa-democrat"></i>
                    Obama
                    <i class="fas fa-democrat"></i>
                </h1>
                <p>Change we can believe in</p>
            </div>
        </div>
    </div>
    <div class="tweetgen-container">
        <div class="col-md-6">
            <div class="header-content">
                <h1>Fight with Obama against the ewoks</h1>
                <a href="https://www.wired.com/story/ewoks-star-wars-tactics-endor-moon/">
                    <button class="btn">
                        Join the fight
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tweetgen-content">
                    <h4>See what Obama has to say</h4>
                    <h1 id="quote">"{{markov.n_markov}}"</h1>
                    <button class="btn" id="quote-btn">Generate a quote</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 accomplishment">
                <div class="accomplishment-content">
                    <h3>See what we've done</h3>
                    <ul>
                        <li>
                            Took back the White House from the ewoks
                        </li>
                        <li>
                            Setup the foundations for the next generation of education
                        </li>
                        <li>
                            Created over 200 new forts around the country
                        </li>
                        <li>
                            Formed alliances with every country
                        </li>
                    </ul>

                    <button class="btn btn-contribute">
                        <a href="https://teamtrees.org/">
                            Contribute
                            <i class="fas fa-hands-helping"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        const quoteBtn = document.getElementById("quote-btn");
        quoteBtn.addEventListener('click', updateQuote);

        function updateQuote() {
            $.get('/generateQuote', (data) => {
                console.log(data);
                document.getElementById("quote").innerHTML = `"${data}"`;
            })
        }
    </script>
</body>

</html>